.popup{
    height:100vh;
    width: 100%;
    
    position: fixed;            
    top:0;                      // to take out from current flow
    left:0;

    background-color: rgba($color-black,.8);
    z-index: 9999;
    backdrop-filter: blur(10px) ;            // adds blur to background of popup

    opacity: 0;                         // display: none will remove animations, so this better
    visibility: hidden;
    transition: all .3s;

    &__black{
        display: block;
        width:100%;
        height:100vh;
        z-index: -1;
        //initial
        opacity: 0;
        visibility: hidden;
    }
    
    &__box{
        
        display: table;                     // help create fake table to give items equal height 
        position: absolute;
        top: 50%;
        left:50%;        
        width:75%;
        background-color: $color-white;
        
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        transition: transform .5s .2s;                              // if made all then it will be visible on refresh

        @include respondMax($tab-land){

            display: block;
            width: 85%;
        }

        @include respondMax($tab-port) {
            width:90%;
            display: block;
        }
        @include respondMax($phone) {
            width:80%;
        }
        
        //initial
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%,-50%) scale(.25);                 // scale animation increase size to 1 from 1/4
        
    }
    &__left{
        width:33.3333333333%;
        display: table-cell;

        @include respondMax($tab-land){
            display: block;
            width: 100%;
        }
        @include respondMax($tab-port) {
            display: none;
        }       
    }
    &__right{
        display: table-cell;
        vertical-align: middle;                 // content visible in middle of section
        width:66.6666666667%;

        padding: 0 4rem;

        @include respondMax($tab-land){
            padding: 2.5rem 4rem;
            display: inline-block;
            width:100%;
        }
        @include respondMax($tab-port) {
            width: 100%;
        }
    }
    &__image{
        width:99%;
        display: block;

        @include respondMax($tab-land){
            display: inline-block;
            height: 18rem;
            width:50%;
            object-fit: fill;
        }
        @include respondMax($tab-port) {
            display: none;
        }
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 2rem;

        column-count: 2;                                   // break para into column
        column-gap: 2rem;                                 // space between columns
        column-rule: 1px solid $color-grey-light-2;               // specify line between columns

        hyphens: auto;                              // add hyphens on continuation words, HTML lang='en' should be set

        
        @include respondMax($tab-land){
            column-count: 1;
            column-rule: none;
            line-height: 2.5rem;
            margin-bottom: 3rem;
        }

    }
    &:target{                           // i.e when it is selected in url
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link,&:visited{
            display: inline-block;
        font-size: 2.4rem;
        color: $color-grey-darker;
        padding:1rem;
        position: absolute;
        top:2.5rem;
        right:2.5rem;
        line-height: 1;
        
        @include respondMax($phone){
            top: 1rem;
            right: 1rem;
        }
        
        }
        
        &:hover{
            color: $color-primary;
        }
    }
    &:target &__box{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%,-50%) scale(1);
    } 
    &:target &__black{
        opacity: 1;
        visibility: visible;
    }

}